.loading-spinner{
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #696969;
}

mat-card{
  max-width: 80%;
  margin: 2em auto;

}

.column-flex{
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
